# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Optional: IDE/Editor configs
.vscode/
.idea/

# Optional: Production builds (if using frontend later)
dist/
build/
